*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container__one,
.container__two,
.container__three {

    padding: 3rem;
}

h2 {
    padding-bottom: 2rem;
    font-size: 3rem;
}

body {
    padding: 2rem;
    font-size: 1.5rem;
}

.container__one {
    background: #004777;
    border: #004777;
    border-radius: 2rem;
}

.container__two {
    background: #A30000;
    border: #A30000;
    border-radius: 2rem;
}

.container__three {
    background: #FF7700;
    border: #FF7700;
    border-radius: 2rem;
}

.container__package__three {
    background: white;
    border: 2px solid black;
}

.container {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 2rem;
    border: 1px transparent;

}

p,
ul {
    font-size: 0.75em;
    padding-bottom: 2rem;
}

li {
    padding-bottom: 1.75rem;
}

/* li::before {
  padding-left:0;
}  FIXING LIST-STYLE TO FIT IN CONTAINER 
   680PX*/

hr {
    width: 6rem;
    align-self: center;
}

.button__container {
    background-color: white;
    width: 20rem;
}

h1 {}

button {
    border-radius: 5px;
    font-size: 2rem;
    color: orange;
    background: transparent;
    padding: 1rem;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    border: 2px solid orange;
}

button:hover {
    cursor: pointer;
}

@media (min-width: 680px) {
    .container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .container__one,
    .container__two,
    .container__three {
        min-width: 200px;
        margin-right: 2rem;
        padding: 3rem;
    }

}